.outline-inherit {
  outline-color: inherit;
}

.outline-current {
  outline-color: currentColor;
}

.outline-transparent {
  outline-color: transparent;
}

.outline-black {
  outline-color: #000;
}

.outline-white {
  outline-color: #fff;
}
